<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="cards">
            <% items.forEach(item => { %>
                <div class="card">
                    <div class="image">
                        <img src="images/iStock-479719152.jpg" alt="Jimmy">
                    </div>
                    <div class="text">
                        <h2><%= item.team %></h2>
                        <h3><%= item.name %> - <%= item.age %> years old</h3>
                        <p><%= item.description %></p>
                    </div>
                </div>
            <% }) %>        
        </div>
    </div>


</body>
</html>